.team-t {
  stroke-dasharray: 1;
  stroke-dashoffset: 2;
  animation: teamtanimation 0.5s cubic-bezier(0.4, 0, 0.2, 1) alternate;
}

.team-e {
  stroke-dasharray: 1;
  stroke-dashoffset: 2;
  animation: teameanimation 1s cubic-bezier(0.4, 0, 0.2, 1) alternate;
}

.team-am {
  stroke-dasharray: 1;
  stroke-dashoffset: 2;
  animation: teameanimation 2s cubic-bezier(0.4, 0, 0.2, 1) alternate;
}

@keyframes teamtanimation {
  0% {
    stroke-dashoffset: 1;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes teameanimation {
  0% {
    stroke-dashoffset: 1;
    opacity: 0;
  }
  50% {
    stroke-dashoffset: 1;
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
