@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  background: url("https://solarsystem.nasa.gov/assets/footer_bg.jpg");
  background-size: cover;
  overflow-x: hidden;
  background-attachment: fixed;
}
::-webkit-scrollbar {
  display: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 20px 0px #132e50;
  color: white;
  font-family: "Roboto Serif", serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  backdrop-filter: blur(10px);
}
.logoArea {
  height: 84px;
  width: 84px;
  background: url("./images/272051990_445268953891206_6313159391565369473_n.jpg");
  background-size: contain;
}
.navOptionsArea ul {
  display: flex;
}
.navOptions {
  padding: 2em;
  list-style-type: none;
  transition: all 0.2s linear;
  cursor: pointer;
  height: 84px;
  position: relative;
  text-align: center;
}
.navOptions:hover {
  /* background: #132e50; */
  transform: scale(1.1);
}
.navOptions::before {
  content: "";
  height: 1px;
  width: 100%;
  transform: scale(0.2);
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  transition: all 0.2s ease-in-out;
}
.navOptions:hover::before {
  transform: scale(1);
}
.planet {
  /* background: url(./images/2k_makemake_fictional.jpg); */
  background-size: cover;
  height: 37vw;
  width: 37vw;
  max-height: 576px;
  max-width: 576px;
  animation: spin 120s linear infinite;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0px 10px 20px 4px #a16f5c;
  transition: scale 0.2s;
}
.planet:hover {
  scale: 1.01;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    background-position-x: 0%;
  }
  100% {
    transform: rotate(360deg);
    background-position-x: 100%;
  }
}
.DetailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  overflow: hidden;
}
.detailsSection {
  width: 50vw;
  padding: 2em;
  text-align: justify;
  top: 5%;
  position: relative;
  animation: float 5s linear infinite;
}
@keyframes float {
  50% {
    top: 2%;
  }
  75% {
    top: 10%;
  }
  100% {
    top: 5%;
  }
}
.detailsSection p {
  text-align: justify;
}
.planetContainer {
  width: 50vw;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.domainsSection {
  padding: 1em;
  margin-top: 5%;
  height: 100vh;
  color: white;
}
.domainCard {
  height: 100px;
  width: 100px;
  background: white;
}
.carouselSection {
  opacity: 0;
  transition: opacity 1s linear;
  width: 100vw;
  height: 100vh;
}
.carousel {
  height: 60vh;
  display: flex;
  align-items: center;
}
.carousel .carousel-item {
  width: 500px;
  height: 500px;
}
.carousel .carousel-item img {
  height: 300px;
  width: 500px;
  object-fit: cover;
}
.carousel h1 {
  font-size: 2rem;
  margin: 0;
  color: white;
  font-weight: bolder;
}
.vis {
  opacity: 1;
}
.parentr {
  height: 350px;
  width: 285px;
  background-color: transparent;
  outline: 1px solid white;
  /* padding: 2em; */
  position: relative;
  box-sizing: border-box;
  margin: 10px;
  overflow: hidden;
}
.cardr {
  height: 300px;
  width: 234px;
  background: red;
  position: absolute;
  inset: 0;
  margin: auto;
  margin-top: 24px;
  overflow: hidden;
}
.leftr,
.rightr,
.topr,
.bottomr {
  background: white;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  position: absolute;
}
.leftr {
  width: 4px;
  height: 30%;
  top: 0;
  left: -1px;
  transition: all 0.3s 0s linear;
  transform: translateY(-110%);
}
.rightr {
  width: 4px;
  height: 30%;
  bottom: 0px;
  right: 0px;
  transition: all 0.3s 0s linear;
  transform: translateY(110%);
}
.topr {
  width: 30%;
  height: 4px;
  top: -1px;
  right: 0;
  transition: all 0.3s 0.1s linear;
  transform: translateX(110%);
}
.bottomr {
  width: 30%;
  height: 4px;
  bottom: 0px;
  left: 0;
  transition: all 0.3s 0.1s linear;
  transform: translateX(-110%);
}
.parentr:hover .bottomr {
  left: 375px;
  transform: translateX(-87%);
}
.parentr:hover .leftr {
  top: 450px;
  transform: translateY(-90%);
}
.parentr:hover .topr {
  right: 375px;
  transform: translateX(87%);
}
.parentr:hover .rightr {
  bottom: 450px;
  transform: translateY(90%);
}

.childr {
  height: 150px;
  width: 150px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
}
.cardr img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlayr {
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.content {
  position: absolute;
  top: 235px;
  right: 0px;
  left: 0;
  background: #0000005e;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  padding: 1em;
  text-align: justify;
  color: white;
  height: 300px;
}
.content h5 {
  font-size: 1.3rem;
  text-align: center;
}
.parentr:hover .content {
  top: 0;
}
.title {
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  width: 80%;
  margin: auto;
}
.btn:hover {
  background: white;
  color: black;
  outline: 1px solid black;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
.btn p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
}
@media only screen and (max-width: 900px) {
  .DetailsContainer {
    flex-direction: column-reverse;
  }
  .detailsSection {
    width: 90vw;
  }
  .detailsSection h1 {
    font-size: 1.5em;
    padding: 1em 0;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navOptionsArea {
    overflow-x: auto;
  }
}
