@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body,
html {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
a {
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 2em 0;
  transition: 0.2s backdrop-filter linear;
}
.logoArea {
  height: 50px;
  width: 50px;
  background: url("./images/logo.jpg");
  background-size: contain;
  margin-left: 2em;
}
.menu {
  list-style-type: none;
  display: flex;
  margin-right: 3%;
}
.menu li {
  padding: 1em 2.8em;
  position: relative;
  cursor: pointer;
  width: 159px;
  text-align: center;
  transition: 0.2s all linear;
}
.menu li:hover {
  transform: scale(1.1);
}
.menu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  height: 1px;
  width: 100%;
  transform: scale(0.2);
  transition: 0.2s all linear;
}
.menu li:hover::after {
  transform: scale(1);
}
.contents {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background-color: #040a15;
}
.astronautRectangle {
  height: 80%;
  position: absolute;
  left: 45.6%;
  top: 32px;
  object-fit: contain;
}
.astronautBg,
.astronaut {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.contents img:nth-child(1) {
  height: 110%;
}
.astronaut {
  height: 90%;
  width: 90%;
  object-fit: contain;
  top: 10%;
  animation: astronautMoveIn 1s ease-in-out,
    astronaut 4s ease-in-out 1.1s infinite;
}
@keyframes astronautMoveIn {
  0% {
    top: 100%;
  }
  100% {
    top: 10%;
  }
}
@keyframes astronaut {
  0%,
  100% {
    top: 10%;
  }
  50% {
    top: 12%;
  }
}
.name {
  height: 100vh;
  width: 50%;
  background: transparent;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  width: 300px;
  background-color: transparent;
  position: relative;
  left: -12%;
}
.linec {
  display: flex;
  align-items: center;
  margin-left: 65px;
  gap: 11px;
  margin-top: -20px;
}
.text .p,
.linec {
  font-size: 50px;
  text-align: right;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}

.line {
  height: 2px;
  width: 109px;
  background: white;
}

.carouselArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./images/astronautBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.overlay {
  backdrop-filter: blur(30px);
  position: absolute;
  inset: 0;
}
.domainContainer {
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.domainContainer .domainHead {
  position: relative;
  text-align: center;
  margin: 0;
}
.domainArea {
  width: 80vw;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.parentr {
  height: 400px;
  width: 322px;
  background-color: transparent;
  outline: 1px solid white;
  position: relative;
  box-sizing: border-box;
  margin: 10px;
  overflow: hidden;
}
.leftr,
.rightr,
.topr,
.bottomr {
  background: white;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  position: absolute;
}
.leftr {
  width: 4px;
  height: 30%;
  top: 0;
  left: -1px;
  transition: all 0.3s 0s linear;
  transform: translateY(-110%);
}
.rightr {
  width: 4px;
  height: 30%;
  bottom: 0px;
  right: 0px;
  transition: all 0.3s 0s linear;
  transform: translateY(110%);
}
.topr {
  width: 30%;
  height: 4px;
  top: -1px;
  right: 0;
  transition: all 0.3s 0.1s linear;
  transform: translateX(110%);
}
.bottomr {
  width: 30%;
  height: 4px;
  bottom: 0px;
  left: 0;
  transition: all 0.3s 0.1s linear;
  transform: translateX(-110%);
}
.parentr:hover .bottomr {
  left: 455px;
  transform: translateX(-100%);
}
.parentr:hover .leftr {
  top: 570px;
  transform: translateY(-100%);
}
.parentr:hover .topr {
  right: 455px;
  transform: translateX(100%);
}
.parentr:hover .rightr {
  bottom: 570px;
  transform: translateY(100%);
}
.cardr img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlayr {
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.content {
  position: absolute;
  top: 81%;
  right: 0px;
  left: 0;
  background: #0000005e;
  transition: all 0.3s ease-in-out;
  z-index: 990;
  padding: 1em;
  text-align: justify;
  color: white;
  height: 350px;
  line-height: 13px;
  font-family: "Roboto", sans-serif;
}
.content h5 {
  font-size: 1.6rem;
  text-align: center;
}
.content p {
  line-height: 20px;
}
.parentr:hover .content {
  top: 0;
}
.btn {
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  width: 60%;
  margin: auto;
  background-color: #ec167f;
}
.btn:hover {
  background: white;
  color: black;
  outline: 1px solid black;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #ec167f,
    0 0 82px #ec167f, 0 0 92px #ec167f, 0 0 102px #ec167f, 0 0 151px #ec167f !important;
}
.btn p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardr {
  height: 350px;
  width: 267px;
  background: red;
  position: absolute;
  inset: 0;
  margin: auto;
  margin-top: 24px;
  overflow: hidden;
}

.modall {
  position: fixed;
  inset: 0;
  background: #0000007a;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(20px);
}
.closeModal {
  position: fixed;
  inset: 0;
  z-index: 900;
}
.modalArea {
  height: 100vh;
  width: 95vw;
  background: white;
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.roadmapContainerArea {
  position: absolute;
  inset: 0;
  right: 0vw;
  background: red;
  transition: all 0.2s ease-in-out;
}
.videoContainerArea {
  position: absolute;
  inset: 0;
  left: 80vw;
  background: goldenrod;
  transition: all 0.2s ease-in-out;
}
.nextSectionArrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 1em;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
  cursor: pointer;
  box-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 1px #fff, 0 0 2px rgb(182, 11, 93),
    0 0 2px rgb(182, 11, 93), 0px 0px 2px rgb(182, 11, 93),
    0 0 2px rgb(182, 11, 93), 0 0 2px rgb(182, 11, 93);
}
.nextSectionArrow:hover {
  box-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 1px #fff, 0 0 2px #0fa,
    0 0 32px #0fa, 0px 0px 11px #0fa, 0 0 1px #0fa, 0 0 1px #0fa;
}

/* Events Page */

.eventPageHeader {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  font-family: "Roboto Slab", serif;
}

.waves {
  position: relative;
  width: 100%;
  background-image: url(https://tse2.mm.bing.net/th?id=OIP.x-167wtYdgyEFYZEA2BPsQHaEJ&pid=Api&P=0);
  min-height: 70vh;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: animate 40s linear infinite;
}
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 70vh;
  background: url("https://tse2.mm.bing.net/th?id=OIP.x-167wtYdgyEFYZEA2BPsQHaEJ&pid=Api&P=0");
  background-size: 1000px 100px;
}
.wave#wave1 {
  z-index: 100;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 40s linear infinite;
}
.wave#wave2 {
  z-index: 99;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite;
}
.wave#wave3 {
  z-index: 100;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 99;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 30s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
@keyframes animatefooter {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
.card {
  transition: all 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
}
.pastEventList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: aliceblue;
  width: 100vw;
  min-height: 100vh;
  display: flex;
}
.eventList {
  width: 90vw;
  height: 10vh;
  background: transparent;
  border-radius: 10px;
  box-shadow: -1px 3px 15px 0px black;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 1em;
}
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");

body {
  overflow-x: hidden;
}
.eventStarting {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: url("https://www.madebydesignesia.com/themes/exhibiz/images/misc/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.startingText {
  display: flex;
  gap: 40px;
}
.startingTextBox {
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 8%;
  justify-content: center;
  z-index: 1;
}
.date {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
.date img {
  width: 18px;
  height: 18px;
  margin-right: 7px;
}
.participant {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
.participant img {
  width: 18px;
  height: 18px;
  margin-right: 7px;
}
.location {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
.location img {
  width: 18px;
  height: 18px;
  margin-right: 7px;
}
.upcomingEventName {
  width: 70%;
  display: flex;
  align-items: center;
  height: 20%;
  font-size: 60px;
  text-align: center;
  justify-content: center;
  color: white;
  font-family: "Plus Jakarta Sans";
}
.button {
  width: 30%;
  height: 10%;
  background: #ec167f;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.button:hover {
  background-color: #e51a7c;
  cursor: pointer;
}
.illustrationBox {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.illustrationShape {
  width: 80%;
  height: 80%;
  background: linear-gradient(#764fd0, #a039cd);
  border-radius: 50% 50% 70% 30% / 67% 51% 49% 33%;
  z-index: 3;
  transform: rotateY(180deg);
  position: relative;
  top: 55px;
  transition: all 0.2s ease-in;
}
.illustrationShape:hover {
  border-radius: 40% 50% 60% 40% / 67% 61% 59% 43%;
}
.illustrationShape img {
  position: absolute;
  top: -115px;
  height: 120%;
  left: -187px;
}
.overlay {
  width: 100vw;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.315);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  inset: 0;
}
.recentEvents {
  display: flex;
  background: black;
  color: white;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.recentEventHeadBg {
  position: absolute;
  top: 5%;
  left: 10%;
  z-index: -1;
  font-size: 8em;
  letter-spacing: 80px;
  font-family: "Londrina Outline", cursive;
  color: rgba(170, 170, 170, 0.441);
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
  transition-delay: 0.7s;
}
.recentEvents_div {
  opacity: 0;
  transform: translateX(-500%);
  transition: all 0.8s ease-in-out;
}
.recentEvents_div_vis {
  transform: translateX(0%);
  opacity: 1;
}

.h1_scale {
  transform: scaleX(1);
}
.recentEventText {
  width: 50%;
  padding: 0 5%;
  text-align: justify;
  line-height: 1.8em;
  font-size: 15px;
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
}
.recentEventText h1 {
  font-weight: bolder;
}
.recentEventText p {
  color: #aaaaaa;
}
.recentEventImages {
  height: 70%;
  width: 50%;
  position: relative;
  top: 100px;
}
.recentEventImages img {
  transition: all 0.9s linear;
}
.recentEventImages img:hover {
  transform: scale(1.05);
}
.recentEventImages img:nth-child(1) {
  height: 423px;
  width: 636px;
  position: absolute;
  z-index: 1;
}
.recentEventImages img:nth-child(2) {
  height: 169px;
  width: 254px;
  position: absolute;
  right: 10%;
  bottom: 15%;
  z-index: 1;
}
.recentEventImages img:nth-child(3) {
  height: 211px;
  width: 318px;
  position: absolute;
  left: -30%;
  bottom: 5%;
  z-index: 0;
}
.recentEvents_button {
  border: 1px solid #ec167f;
  background-color: transparent;
  color: white;
  padding: 0.5em 1em;
  line-height: 1.8em;
  font-size: 15px;
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  margin: 10px 0px;
  transition: all 0.2s linear;
  cursor: pointer;
  width: 10em;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.recentEvents_button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.recentEvents_button::before {
  content: "";
  display: block;
  width: 90%;
  height: 100%;
  background-color: #ec167f;
  position: absolute;
  top: 0;
  left: -110%;
  z-index: -1;
  transform: skew(-45deg);
  transition: all 0.2s ease-in-out;
}
.recentEvents_button::after {
  content: "";
  display: block;
  width: 90%;
  height: 100%;
  background-color: #ec167f;
  position: absolute;
  top: 0;
  right: -110%;
  z-index: -1;
  transform: skew(-45deg);
  transition: all 0.2s ease-in-out;
}
.recentEvents_button:hover::before {
  left: -15%;
}
.recentEvents_button:hover::after {
  right: -15%;
}
.eventListBox {
  width: 100vw;
  background: black;
  display: flex;
  flex-direction: column;
}
.fa {
  padding-right: 1em;
}
.pastEventHeading {
  background-color: transparent;
  color: white;
  text-align: center;
  padding: 0 0 1em 0;
  font-size: 5em;
  font-family: "Abril Fatface", cursive;
}
.list {
  display: flex;
  padding: 2em;
  background: red;
  flex-direction: row;
  font-family: "Plus Jakarta Sans";
  background: #1b1b1b;
  border-bottom: 1px solid #454242;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 4%;
  cursor: pointer;
  color: white;
}
.list:nth-child(2n + 1) {
  background: transparent;
}
.list:hover {
  opacity: 0.8;
}
.dateTime {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.eventDescription {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.eventDescription h1 {
  margin: 0;
  line-height: 1;
  margin-bottom: 20px;
  font-size: 3.5em;
}
.teamMemberBox {
  width: 100vw;
  height: 80vh;
  background: #101010;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: -10px;
  color: white;
}
.member {
  height: 70vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  transition: all 0.2s linear;
  cursor: pointer;
  position: relative;
}

.base {
  width: 15vw;
  height: 2px;
  background: rgb(50, 50, 50);
  border-radius: 100%;

  box-shadow: 0px 5px 14px 2px rgb(50, 50, 50);
}
.memberImage {
  height: 90%;
  position: relative;
  bottom: -12px;
}
.designationBox {
  text-align: center;
  color: white;
}
.member:nth-child(2n + 1) {
  transform: scale(0.9);
}
.member:hover:nth-child(2n) {
  transform: scale(1.1);
}

.member:hover:nth-child(2n + 1) {
  transform: scale(1);
}
.membeInfo {
  position: absolute;
  bottom: 50px;
  background: #e51a7c;
  padding: 1em;
  border-radius: 10%;
  visibility: hidden;
}
@keyframes floatUp {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 50px;
  }
}
.member:hover .membeInfo {
  visibility: visible;
  animation: floatUp 0.2s ease-in;
}
.membeInfo::after {
  content: "";
  display: block;
  background: #e51a7c;
  height: 20px;
  width: 20px;
  transform: translateX(-50%) rotate(45deg);
  position: absolute;
  top: -10px;
  left: 70%;
}
.founderBox {
  width: 20vw;
  height: 60vh;
  background: rgb(21, 21, 21);
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid grey;
  transform: scale(1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
  cursor: pointer;
  opacity: 1;
  margin-top: 6em;
}
.founderBox:hover {
  background: rgb(27, 26, 26);
}
.imageBox {
  width: 20vw;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
  position: relative;
}
.textBox {
  width: 20vw;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.founderContainer {
  width: 100vw;
  background: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.imageBox img {
  width: 60%;
  border-radius: 50%;
  border: 2px solid #545151;
}
.textBox p {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 0%;
}
.post {
  margin-top: 1px;
}

.icons {
  font-size: 1em;
  margin: 5px;
  margin-top: 15px;
}
.icons svg {
  margin: 10px;
  height: 2em;
}
.icons svg:hover {
  opacity: 0.5;
}
.founderBox:hover .imageBox img {
  box-sizing: content-box;
  border: 10px solid rgb(182, 11, 93);
  transition: all 0.4s linear;
}
.founderHeading {
  width: 100%;
  height: 15vh;
  font-size: 70px;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-top: 0.5em;
}
.teamHeading {
  width: 100%;
  height: 15vh;
  font-size: 70px;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  background: #101010;
}
.ourTeamPage {
  width: 100%;
  height: 100%;
  background-color: #101010;
  padding-top: 110px;
}
.frontSection {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  text-align: center;
  background-color: #1b1b1b;
  color: rgba(255, 255, 255, 0.427);
  font-style: italic;
}
.error404Text {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  inset: 0px;
  transform: translateY(0%);
  animation: error404TextAnime 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}
.error404TextShadow {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  inset: 0px;
  transform: translate(10px, 14px);
  animation: error404TextShadowAnime 3s cubic-bezier(0.445, 0.05, 0.55, 0.95)
    infinite;
}
.error404Character {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  inset: 0px;
  z-index: 2;
}
@keyframes error404TextAnime {
  0%,
  100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-1%);
  }
}
@keyframes error404TextShadowAnime {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(3px, 7px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}
body {
  overflow-x: hidden;
}
.particularEventSection1 {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}
.particularEventSection1div1,
.particularEventSection1div2 {
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.particularEventSection1div1 {
  background: #1b1a27;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  width: 50vw;
}
.particularEventSection1div2 {
  inset: 0;
  width: 100vw;
  background: red;
}
.particularEventSection1div1heading {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Baloo Paaji 2", cursive;
}
.particularEventSection1div1headingText {
  font-size: 5rem;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}
.particularEventSection1div1heading span {
  color: red;
  font-style: italic;
}
.particularEventSection1div1carousel {
  height: 50%;
  width: 100%;
  display: flex;
  animation: particularEventSection1div1carouselAnime 10s linear infinite;
}
@keyframes particularEventSection1div1carouselAnime {
  0% {
    transform: translateX(00px);
  }
  100% {
    transform: translateX(-2400px);
  }
}
.particularEventSection1div1carouselImageCards {
  height: 40vmin;
  width: 40vmin;
  background-color: aqua;
  border-radius: 10px;
  margin: 10px;
  flex-shrink: 0;
}
.particularEventSection1div1carouselImageCards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.particularEventSection1div2Video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
.imageContainer {
  height: 90vh;
  width: 100vw;
  background: url("https://i.ytimg.com/vi/_ITiwPMUzho/maxresdefault.jpg");
  background-size: cover;
}
body {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}
.sideDiv {
  width: 80vw;
  height: 14vw;
  background: linear-gradient(180deg, #010535, #070514);
  backdrop-filter: blur(100px);

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -15%;
}

.secondSec {
  background: linear-gradient(180deg, #08030c, #020c34);
  backdrop-filter: blur(100px);
}
.over {
  width: 100vw;
  height: 90vh;
  position: absolute;
  background: linear-gradient(342deg, #080108d6, #7c238900);
}
.third {
  width: 100vw;
  height: 123vh;
  background: linear-gradient(180deg, #010535, #2a0232);
  backdrop-filter: blur(100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 1em;
}
.third h1 {
  color: white;
  font-size: 4em;
}
.aboutext {
  width: 44vw;
  height: 100vh;

  color: white;
  text-align: justify;
}
.image {
  width: 50vw;
  height: 80vh;
  background: rebeccapurple;
}
.textContainer {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}
.textContainer .aboutext,
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gallary {
  width: 60vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.one {
  width: 200px;
  height: 200px;
  background: black;
  position: absolute;
  left: 0;
  top: 35px;
}

.two {
  width: 200px;
  height: 400px;
  position: absolute;
  left: 215px;
  top: 105px;
  background-color: #020c34;
}
.three {
  width: 300px;
  height: 300px;
  position: absolute;
  left: -102px;
  top: 251px;
  background-color: #070514;
}
.four {
  width: 400px;
  height: 250px;
  background: aliceblue;
  position: absolute;
  left: 433px;
  top: 30px;
}
.five {
  width: 350px;
  height: 250px;
  position: absolute;
  left: 435px;
  top: 298px;
  background: yellow;
}
.six {
  width: 253px;
  height: 253px;
  position: absolute;
  left: 800px;
  top: 297px;
  background: aquamarine;
}
.seven {
  width: 210px;
  height: 219px;
  position: absolute;
  left: 852px;
  top: 61px;
  background: #7fa0ff;
}
.galleryImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.gallary img {
  animation: gallaryImageScale 2s linear infinite;
}
@keyframes gallaryImageScale {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
.h2 {
  text-align: center;
  font-size: 55px;
  color: white;
}
.aboutSCCIntroContainer {
  height: 65vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(180deg, #08030c, #020c34);
}
.aboutSCCIntroContainerText,
.aboutSCCIntroContainerImage {
  width: 50%;
  padding: 0 1em;
}
.whatis {
  text-align: center;
  font-size: 55px;
  color: white;
}
.aboutSCCIntroContainerText {
  line-height: 30px;
  font-size: 1.1em;
  text-align: justify;
}
.aboutSCCIntroContainerImage img {
  height: 100vh;
  width: 100%;
  object-fit: contain;
}
.fourth {
  width: 100vw;
  height: 80vh;
  background: linear-gradient(0deg, #010535, #2a0232);

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.heading {
  width: 100vw;
}
.heading h1 {
  font-size: 4em;
  text-align: center;
  color: white;
  margin: 0;
  background: #2a0232;
}
.stepContainer2 {
  height: 100%;
  display: flex;
}
.stepContainer2:nth-child(2n-1) {
  align-items: flex-end;
}
.stepContainer {
  display: flex;
  align-items: center;
  height: 200px;
  width: 200px;
}
.stepContainer2:nth-child(2n-1) .stepContainer {
  flex-direction: column;
  border-top: 10px solid white;
}
.stepContainer2:nth-child(2n) .stepContainer {
  flex-direction: column-reverse;
  border-bottom: 10px solid white;
}
.vline {
  height: 50px;
  width: 10px;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
.steps {
  flex: 1;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  position: relative;
  overflow: hidden;
  color: white;
}
.leftrr,
.rightrr,
.toprr,
.bottomrr {
  background: white;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  position: absolute;
}
.leftrr {
  width: 4px;
  height: 30%;
  top: 0;
  left: -1px;
  transition: all 0.3s 0.2s linear;
  transform: translateY(-110%);
  animation: leftrAnime 1s linear infinite;
}
.rightrr {
  width: 4px;
  height: 30%;
  bottom: 0px;
  right: 0px;
  transition: all 0.3s 0s linear;
  transform: translateY(110%);
  animation: rightrAnime 1s linear infinite;
}
.toprr {
  width: 30%;
  height: 4px;
  top: -1px;
  right: 0;
  transition: all 0.3s 0s linear;
  transform: translateX(110%);
  animation: toprAnime 1s linear infinite;
}
.bottomrr {
  width: 30%;
  height: 4px;
  bottom: 0px;
  left: 0;
  transition: all 0.3s 0.1s linear;
  transform: translateX(-110%);
  animation: bottomrAnime 1s linear infinite;
}
@keyframes toprAnime {
  100% {
    right: 180px;
    transform: translateX(100%);
  }
}
@keyframes rightrAnime {
  100% {
    bottom: 140px;
    transform: translateY(100%);
  }
}
@keyframes bottomrAnime {
  100% {
    left: 180px;
    transform: translateX(-100%);
  }
}
@keyframes leftrAnime {
  100% {
    top: 140px;
    transform: translateY(-100%);
  }
}
.eventHeaderr {
  height: 80vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eventHeaderr h1 {
  color: white;
  font-family: cursive;
  animation: h1Anime 0.9s linear infinite;
  text-transform: uppercase;
}
.neon_green {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 0px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  font-weight: 400;
}
@keyframes h1Anime {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 40px #0ff,
      0 0 80px #0ff, 0 0 90px #0ff, 0 0 10px #0ff, 0 0 200px #0ff;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
.bg {
  position: absolute;
  top: 10%;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
  font-weight: 400;
  text-transform: uppercase;
}
.videoRecomSection {
  min-height: 80vh;
  border: 1px dashed white;
  padding: 1em;
  margin-top: 100px;
}
.videoContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.videoContainer .video {
  height: 300px;
  width: 300px;
  border: 1px dotted white;
  font-weight: 400;
  color: white;
  display: flex;
  flex-direction: column;
  transition: all 0.5s linear;
}
.videoContainer img {
  width: 100%;
  object-fit: contain;
}
.videoContainer .videoTitle {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.video:hover {
  transform: scale(1.1);
}
#banner {
  padding: 0;
}
section {
  position: relative;
  display: block;
}
.banner-item {
  min-height: 800px;
  color: #fff;
  background-attachment: fixed;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-backface-visibility: hidden;
}
.bg-overlay {
  position: relative;
}
.bg-overlay .container {
  position: relative;
  z-index: 1;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container::before {
  display: table;
  content: " ";
}
.banner-content,
.banner-reg-form {
  padding: 245px 0;
  width: 100%;
  vertical-align: middle;
  position: relative;
  color: #fff;
  z-index: 1;
}
.text-center {
  text-align: center;
}
.row1 {
  padding: 3em 0 0 0;
}
.banner-content-wrap {
  position: relative;
}
.banner-content-wrap::before {
  content: "";
  position: absolute;
  top: -65px;
  width: 100%;
  max-width: 380px;
  text-align: center;
  height: 500px;
  left: 50%;
  margin-left: -190px;
  z-index: -1;
  border: 18px solid rgba(104, 89, 222, 0.35);
  box-sizing: border-box;
  box-shadow: 0 60px 40px -40px rgba(0, 0, 0, 0.3);
}
.countdown.bg-style > div {
  margin: 0 30px;
}

.countdown > div.counter-day {
  color: #ff0763;
}
.countdown > div {
  display: inline-block;
  margin: 0 50px;
  text-align: center;
  font-family: Lato, sans-serif;
}
.countdown.bg-style > div.counter-day .days {
  background: #f44336;
  background: -moz-linear-gradient(145deg, #f44336 0%, #d84315 100%);
  background: -webkit-linear-gradient(145deg, #f44336 0%, #d84315 100%);
  background: linear-gradient(145deg, #f44336 0%, #d84315 100%);
}

.countdown.bg-style div > span {
  font-size: 28px;
  width: 65px;
  height: 60px;
  line-height: 60px;
  border-radius: 3px;
  margin-bottom: 15px;
  display: block;
  color: #fff;
}
.countdown div > span {
  line-height: 100%;
  font-size: 62px;
  font-weight: 700;
}
.countdown.bg-style > div.counter-day .smalltext {
  color: #f44336;
}

.countdown.bg-style div > .smalltext {
  font-size: 20px;
  text-transform: capitalize;
}
.countdown .smalltext {
  top: 0;
  line-height: 100%;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 10px;
}
.countdown.bg-style > div {
  margin: 0 30px;
}

.countdown > div.counter-hour {
  color: #ffc107;
}
.countdown > div {
  display: inline-block;
  margin: 0 50px;
  text-align: center;
  font-family: Lato, sans-serif;
}
.countdown.bg-style > div.counter-hour .hours {
  background: #03a9f4;
  background: -moz-linear-gradient(145deg, #03a9f4 0%, #1e88e5 100%);
  background: -webkit-linear-gradient(145deg, #03a9f4 0%, #1e88e5 100%);
  background: linear-gradient(145deg, #03a9f4 0%, #1e88e5 100%);
}
.countdown.bg-style > div.counter-hour .smalltext {
  color: #8bc34a;
}

.countdown.bg-style > div.counter-hour .smalltext {
  color: #03a9f4;
}
.countdown.bg-style div > .smalltext {
  font-size: 20px;
  text-transform: capitalize;
}

.countdown .smalltext {
  top: 0;
  line-height: 100%;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 10px;
}
.countdown.bg-style div > span {
  font-size: 28px;
  width: 65px;
  height: 60px;
  line-height: 60px;
  border-radius: 3px;
  margin-bottom: 15px;
  display: block;
  color: #fff;
}
.countdown div > span {
  line-height: 100%;
  font-size: 62px;
  font-weight: 700;
}
.countdown.bg-style div > .smalltext {
  font-size: 20px;
  text-transform: capitalize;
}
.countdown.bg-style > div {
  margin: 0 30px;
}

.countdown > div.counter-minute {
  color: #03a9f4;
}
.countdown > div.counter-minute {
  color: #03a9f4;
}
.countdown.bg-style > div.counter-minute .minutes {
  background: #8bc34a;
  background: -moz-linear-gradient(145deg, #8bc34a 0%, #689f38 100%);
  background: -webkit-linear-gradient(145deg, #8bc34a 0%, #689f38 100%);
  background: linear-gradient(145deg, #8bc34a 0%, #689f38 100%);
}

.countdown.bg-style div > span {
  font-size: 28px;
  width: 65px;
  height: 60px;
  line-height: 60px;
  border-radius: 3px;
  margin-bottom: 15px;
  display: block;
  color: #fff;
}
.countdown div > span {
  line-height: 100%;
  font-size: 62px;
  font-weight: 700;
}
.countdown.bg-style div > span {
  font-size: 28px;
  width: 65px;
  height: 60px;
  line-height: 60px;
  border-radius: 3px;
  margin-bottom: 15px;
  display: block;
  color: #fff;
}
.countdown.bg-style div > .smalltext {
  font-size: 20px;
  text-transform: capitalize;
}

.countdown .smalltext {
  top: 0;
  line-height: 100%;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 10px;
}
.countdown div > span {
  line-height: 100%;
  font-size: 62px;
  font-weight: 700;
}
.countdown.bg-style div > .smalltext {
  font-size: 20px;
  text-transform: capitalize;
}

.countdown .smalltext {
  top: 0;
  line-height: 100%;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 10px;
}
.countdown.bg-style > div {
  margin: 0 30px;
}

.countdown > div.counter-second {
  color: #8bc34a;
}
.countdown > div {
  display: inline-block;
  margin: 0 50px;
  text-align: center;
  font-family: Lato, sans-serif;
}
.countdown.bg-style > div.counter-second .seconds {
  background: #ffc107;
  background: -moz-linear-gradient(145deg, #ffc107 0%, #f57f17 100%);
  background: -webkit-linear-gradient(145deg, #ffc107 0%, #f57f17 100%);
  background: linear-gradient(145deg, #ffc107 0%, #f57f17 100%);
}

.countdown.bg-style div > span {
  font-size: 28px;
  width: 65px;
  height: 60px;
  line-height: 60px;
  border-radius: 3px;
  margin-bottom: 15px;
  display: block;
  color: #fff;
}
.countdown div > span {
  line-height: 100%;
  font-size: 62px;
  font-weight: 700;
}

.countdown.bg-style > div.counter-second .smalltext {
  color: #ffc107;
}
.countdown.bg-style div > .smalltext {
  font-size: 20px;
  text-transform: capitalize;
}
.countdown .smalltext {
  top: 0;
  line-height: 100%;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 10px;
}
.banner-title {
  color: #fff;
  font-size: 62px;
  line-height: 72px;
  text-transform: uppercase;
}

h1 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 900;
}
.banner-subtitle {
  font-size: 36px;
  color: #fff;
}

h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #1c1c24;
}
sup {
  top: -0.5em;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
.banner-desc {
  font-size: 24px;
  color: #fff;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #1c1c24;
}
.banner-btn1 {
  margin: 40px 0 0;
}
.btn1.btn1-primary {
  background: #ff0763;
  border: 2px solid transparent;
}
.btn1.btn-primary,
.btn1-dark,
.btn1-border {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 13px 18px;
  line-height: 1.33;
  border-radius: 3px;
  border: 0;
  -webkit-transition: color 400ms, background-color 400ms, border-color 400ms;
  -o-transition: color 400ms, background-color 400ms, border-color 400ms;
  transition: color 400ms, background-color 400ms, border-color 400ms;
}
.btn1 {
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  bottom: -20%;
  left: 0;
  right: 0;
  width: 24%;
  margin: auto;
  background-color: #ec167f;
}
.bg-overlay:after {
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.gradient-bg {
  position: relative;
}
.gradient-bg::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  background: linear-gradient(
    25deg,
    rgba(255, 7, 99, 0.65) 5%,
    rgba(104, 89, 222, 0.65) 100%
  );
}
.container1 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container:before {
  display: table;
  content: " ";
}
.gradient-bg .section-title {
  color: #1c1c24;
}
.section-title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  margin: 0;
  color: #ff0763;
}
.section-sub-title.title-white {
  color: #fff;
}
.row::after {
  clear: both;
  display: table;
  content: " ";
}
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em 10%;
  gap: 20px;
  margin-bottom: 0px;
}
.section-sub-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 0 0 60px;
  color: #1c1c24;
}
.col-sm-6 {
  float: left;
}
.col-md-3,
.col-sm-6,
.col-xs-12 {
  min-height: 330px;
  width: 245px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 25px 35px -20px;
  background: white;
}
.ts-speaker {
  background: #fff;
  box-shadow: 0 25px 35px -20px rgba(0, 0, 0, 0.35);
  transition: all 0.4s ease;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.ts-speaker-name {
  height: 31px;
}
.ts-speaker-image {
  text-align: center;
  height: 250px;
}
.img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}
.ts-speaker-info {
  padding: 15px 20px;
  color: #303030;
}
.ts-speaker-info .ts-speaker-name {
  font-size: 18px;
  margin: 0 0 3px 0;
}
.ts-speaker-info .ts-speaker-designation {
  font-size: 16px;
}
.gap-40 {
  clear: both;
  height: 40px;
}
.kokol {
  padding: 1em;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 10em;
  margin: 20px 0;
  background-color: #ff0763;
  cursor: pointer;
  font-weight: 500;
}
.kokol:hover {
  color: white;
  background: #d3004e;
}

.visionaryBox {
  background: linear-gradient(
    145deg,
    rgba(255, 7, 99, 0.65) 5%,
    rgba(104, 89, 222, 0.65) 100%
  );
  min-height: 100vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visSpeakerCardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em 10%;
  gap: 20px;
}
.visSpeakerCard {
  min-height: 330px;
  width: 245px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 25px 35px -20px;
  background: white;
  position: relative;
}

.visSpeakerCard:hover {
  opacity: 0.8;
  cursor: pointer;
}

.visSpeakerPersonImage {
  width: 100%;
  object-fit: contain;
}

.visSpeakerDetails {
  padding: 1em;
}
.visSpeakerName {
  color: rgb(255, 7, 99);
  font-size: 18px;
  font-weight: 700;
}
.sponsorContainer {
  width: 100vw;
}
.heading1 {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 7, 99);
  font-size: 20px;
}
.heading2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 700;
}
.sponsorCard {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sponsors {
  width: 200px;
  height: 200px;
  background: #d9d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sponsors img {
  width: 100%;
  height: 50%;
  object-fit: contain;
  margin-bottom: 20px;
}
.eventtDescription {
  color: white;
  text-align: justify;
  height: 70vh;
  display: flex;
  position: relative;
  overflow: hidden;
  /* background-color: wheat; */
  border: 1px dashed white;
  margin-top: 100px;
  margin-bottom: 100px;
}
.eventtDescription h2 {
  color: white;
  position: relative;
  z-index: 1;
}
.eventtDescriptionDiv {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.eventtDescriptionDiv:nth-child(1) {
  width: 50%;
  background: linear-gradient(30deg, #123832, black);
}
.eventtDescriptionDiv:nth-child(2) {
  width: 50%;
  padding: 1em 5em;
}
.eventtDescriptionP {
  color: white;
}
.eventtDescriptionCircle {
  display: none;
  height: 200%;
  width: 200%;
  border: 1px dashed white;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -48%);
  border-radius: 100%;
  z-index: 0;
}
